<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foodies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>62D6F57E1F67D2B400D79860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62D6F5951F67D2B400D79860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62D6F5A01F67D2B400D79860</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
